*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    padding: 30px;
}

h1:hover{
    color: blue;
    font-weight: bolder;
    letter-spacing: 1px;
}

.Conseil{
    color: antiquewhite;
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}
.lieucitation{
    background-color: antiquewhite;
    color: blue;
    padding: 100px;
    font-size: 35px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

button{
    background-color:blue;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    color: blanchedalmond;
    border: none;

}

button:hover{
    background-color: blanchedalmond;
    color: blue;
    cursor: pointer;
    letter-spacing: 1px;
}

.lieucitation:hover{
    background-color: orangered;
    color: black;
}

h2{
    color: blanchedalmond;
}

.partenaires{
    margin-left: 400px;
    margin-right: 400px;

}

.partenaires a{
    margin: 10px;
}

.partenaires a img{
    width:  50px;
    border-radius: 60px;
}
a{
    color: blue;
    font-size: 12px;
    text-decoration: none;
}
footer{
    color: aliceblue;
    font-size: 20px;
    padding-top: 15px;
}

@media (max-width:568px) {

    .partenaires{
    margin-left: 60px;
    margin-right: 60px;

}


.partenaires a img{
    width:  40px;
}

.lieucitation{
    font-size: 17px;
}

footer{
    color: aliceblue;
    font-size: 15px;
    padding-top: 25px;
}


    
}